
.wrap__interactive {
    width: 100%;
    height: 60px;
    position: sticky;
    bottom: 15px;
    @include styleBorderBackground();
    border-radius: 25px 25px 25px 25px;
    transition: all 0.2s;
    .body__interactive--row {
        width: 100%;
        height: 100%;
        display: flex;
        .item__control--inter {
            width: 100%;
            margin: 5px;
            @include styleDisFlexCenter();
            .border-style-btn {
                width: 45px;
                height: 45px;
                @include styleDisFlexCenter();
                border: 1px solid $main_color-border;
                cursor: pointer;
                transition: all 0.4s;
                @include styleBoxBackGroundBlur();
                background-color: $main_color-bgr;
                border-radius: 100%;
                & > i {
                    font-size: 22px;
                    color: $main_color-text;
                    transition: all 0.4s;
                }
                .rotateInIconDrop{
                    transform: rotate(45deg);
                }
                .rotateUnIconDrop{
                    transform: rotate(0deg);
                }
                &:hover {
                    transform: translateY(-3px);
                }
            }
            .isActiveBorder-btn {
                background-color: $main_color-text;
                transform: translateY(-3px);
                i {
                    color: $main_color-white;
                }
            }
        }
    }
    .wrap_dropdown-interactive {
        width: 115%;
        height: 475px;
        position: absolute;
        bottom: 65px;
        right: -2px;
        display: flex;
        @include styleBoxBackGroundBlur();
        color: #822366;
        font-weight: 500;
    }
    .wrap_drop-chat{
        width: 100%;
        .body__messenger-drops{
            padding: 5px 15px;
            .tr_row {
                display: flex;
                border-bottom: 1px solid #eeddea;
                padding-bottom: 10px;
                .heading_tr--mess ,.heading_tr--chat{
                    font-weight: 700;
                    font-size: 26px;
                }
                .btn_select--set{
                    width: 100%;
                    @include styleDisFlexCenter();
                    justify-content: right;
                    .float_item{
                        float: right;
                        display: flex;
                        .item_border_select--setMess,.item_border_select--setChat{
                            width: 30px;height: 30px;
                            @include styleDisFlexCenter();
                            cursor: pointer;
                            margin: 0px 5px;
                            transition: all 0.4s;
                            & > i{
                                font-size: 20px;
                            }
                            &:hover{
                                transform: translateY(-2px);
                            }
                        }
                    }
                    
                }
            }
            .body_list_user-mess{
                width: 100%;
            }
        }
    }
    .wrap_drop-noti {
        width: 100%;
        .body__noti-drops{
            padding: 5px 15px;
            .tr_row {
                display: flex;
                border-bottom: 1px solid #eeddea;
                padding-bottom: 10px;
                .heading_tr--mess ,.heading_tr--chat{
                    font-weight: 700;
                    font-size: 26px;
                }
                .btn_select--set{
                    width: 100%;
                    @include styleDisFlexCenter();
                    justify-content: right;
                    .float_item{
                        float: right;
                        display: flex;
                        .item_border_select--setChat{
                            width: 30px;height: 30px;
                            @include styleDisFlexCenter();
                            cursor: pointer;
                            margin: 0px 5px;
                            transition: all 0.4s;
                            & > i{
                                font-size: 20px;
                            }
                            &:hover{
                                transform: translateY(-2px);
                            }
                        }
                    }
                    
                }
            }
        }
    }


    .setHeightAutoMenuMore{
        width: 102%;
        height: auto;
        .body_drop--menuMore{
            width: 100%;
            padding: 15px;
            .heading_menuMore{
                font-size: 26px;
                font-weight: 700;
                padding-bottom: 10px;
                border-bottom: 1px solid #eeddea;
            }
            .container__btn--menuMore{
                width: 100%;
                padding-top: 10px;
                .item__btn--menuMore{
                    padding: 10px 15px;
                    @include styleDisFlexCenter();
                    display: inline-flex;
                    margin: 6px;
                    cursor: pointer;
                    transition: all 0.4s;
                    border-radius: 20px;
                    background-color: $main_color-white-hover-brgWhite;
                    > i{
                        font-size: 20px;
                    }
                    .text_heading-btn{
                        margin-left: 10px;
                    }
                    &:hover{
                        transform: translateY(-4px);
                    }
                }
            }
        }
    }

    .isShow {
        opacity: 1;
        visibility: visible;
        transform: scale(1);
        transition: 0.2s ease-out;
    }
    .isHide {
        opacity: 0;
        visibility: hidden;
        transform: scale(0.98);
        transition: 0.2s ease-out;
    }
}
