$main_color: #be0a88;
$main_color-text: #822366;
$main_color-bgr: #fff7fc;
$main_color-white: #ffffff;
$main_color-white-hover: #f7e6f2;
$main_color-white-hover-brgWhite: #f3edf1;
$main_color-border: #eccde3;
$main_color-border-img: #cc8dba;
$main_color-border-active: #ad6e9c;

$main_box-shadow: #a38d9a8e 0px 0px 4px 1px;
$main_box-shadow_header : 0 1px 1px 0 #a1438d1f, 0 1px 4px 0 #ce66b913, 0 1px 10px 0 #b82f9f0e