$main_color: #be0a88;
$main_color-text:#822366;
$main_color-text-opacity:#a56291;
$main_color-bgr: #fff7fc;
$main_color-white: #ffffff;
$main_color-white-hover: #f7e6f2;
$main_color-white-hover-brgWhite: #f3ebf0;
$main_color-border: #f7e2f1;
$main_color-border-img: #cc8dba;
$main_color-border-active: #ad6e9c;

$main_box-shadow: #a38d9a8e 0px 0px 4px 1px;
$main_box-shadow_header : 0 1px 1px 0 #a1438d1f, 0 1px 4px 0 #ce66b913, 0 1px 10px 0 #b82f9f0e;

@mixin styleBorderBackground {
    border: 1px solid $main_color-border;
    border-radius: 15px;
    background-color: $main_color-white;
}
@mixin styleBoxBackGroundBlur {
    @include styleBorderBackground();
    box-shadow: 3px 2px 8px 0px #0000002c;
    border: 1px solid #ddd4daea;
    backdrop-filter: blur(9px);
    background: #ffffff96;
} 
@mixin styleBackgroundLoading {
    width: 100%;
    height: 100%;
    position: fixed;
    background-color: #fff3fb;
    z-index: 999;
    display: flex;
    justify-content: center;
    align-items: center;
}
@mixin styleDisFlexCenter{
    display: flex;
    align-items: center;
    justify-content: center;
}
