@import "./+styleMain.scss";

.header {
    width: 100%;
    height: 60px;
    background-color: $main_color-white;
    padding: 0px 20px;
    box-shadow: $main_box-shadow_header;
    position: fixed;
    z-index: 77;
    transition: all 0.2s;
    .header__wrap--row {
        width: 100%;
        height: 100%;
        @include styleDisFlexCenter();
        padding: 5px 0px 0px 0px;
        .item__header-wrap {
            width: 100%;
            height: 100%;
            display: flex;
        }
        .wrap__item--box_first {
            flex: 2;
            padding-bottom: 5px;
            .item_box_fisrt {
                width: 100%;
                & > a {
                    > img {
                        max-width: 100%;
                        height: 100%;
                        transform: scale(0.86);
                        filter: drop-shadow(2px 2px 0px #916383);
                    }
                }
            }
            .box__navication {
                margin-right: 80px;
                @include styleDisFlexCenter();
                justify-content: left;
                .btn_checked_navication {
                    padding: 4px;
                    padding-left: 9px;
                    display: flex;
                    border-radius: 20px;
                    color: $main_color-text;
                    background-color: $main_color-bgr;
                    cursor: pointer;
                    transition: all 0.5s;
                    box-shadow: #2b0a0a1c 1px 2px 4px 0px;
                    border: 1px solid #f5d3eb;
                    > div {
                        width: auto;
                        font-size: 12px;
                        margin-right: 5px;
                        user-select: none;
                    }
                    i {
                        font-size: 20px;
                        display: block;
                        color: $main_color-text;
                        transition: all 0.4s;
                    }
                    &:hover {
                        transform: translateY(-3px);
                    }
                }
            }
        }
        .wrap__item--navMenu {
            flex: 5.5;
            display: flex;
            flex-direction: column;
            overflow: hidden;
            .an-navMenu-drops-search-true {
                transform: translateY(-80px);
                transition: all 0.4s;
            }
            .an-navMenu-drops-search-false {
                transform: translateY(0px);
                transition: all 0.4s;
            }
            .body__container--navMenu {
                width: 100%;
                height: 100%;
                font-size: 23px;
                @include styleDisFlexCenter();
                align-items: unset;
                margin: 0px auto;
                padding-bottom: 5px;
                .menu__column--nav {
                    width: 130px;
                    // margin-right: 0px;
                    margin: 0px 10px;
                    .item_header--item {
                        width: 100%;
                        height: 100%;
                        @include styleDisFlexCenter();
                        & > a {
                            width: 100%;
                            height: 100%;
                            @include styleDisFlexCenter();
                            flex-direction: column;
                            text-decoration: none;
                            color: $main_color-text;
                            border-radius: 10px;
                            transition: all 0.4s;
                            i {
                                font-size: 18px;
                                margin-top: 5px;
                                margin-bottom: 2px;
                            }
                            .item__text--status {
                                margin: 5px 0px 5px 0px;
                                font-size: 13px;
                                user-select: none;
                                transition: all 0.5s;
                            }
                            &:hover {
                                background-color: $main_color-white-hover;
                            }
                        }
                    }
                }
                .display-none {
                    display: none;
                }
                .item_header--item a.active {
                    pointer-events: none;
                    opacity: 1;
                    i {
                        color: $main_color;
                        font-weight: 600;
                        font-size: 29px;
                        transition: all 0.3s;
                        transform: translateY(10px);
                        animation: an_icon_menu_header 0.3s;
                        @keyframes an_icon_menu_header {
                            0% {
                                font-size: 18px;
                            }
                            100% {
                                font-size: 29px;
                            }
                        }
                    }
                    .item__text--status {
                        animation: an_text--status 0.4s forwards;
                        @keyframes an_text--status {
                            form {
                                transform: scale(1);
                                opacity: 1;
                            }
                            to {
                                transform: scale(0);
                                opacity: 0;
                            }
                        }
                    }
                }
                .navigation_item--menu {
                    width: 70%;
                    height: 4px;
                    display: block;
                    border-radius: 3px;
                    margin: 1px auto;
                    transition: all 0.4s;
                    pointer-events: none;
                }
                .active_navigation {
                    background-color: $main_color;
                    animation: an_navigation_menu 0.4s alternate;
                    @keyframes an_navigation_menu {
                        0% {
                            transform: translateY(10px);
                        }
                        60% {
                            transform: translateY(0px);
                        }
                        100% {
                            transform: translateY(0px);
                        }
                    }
                }
            }
            .box__dropdown--search {
                display: flex;
                justify-content: center;
                align-items: center;
                transition: 0.4s ease;
                .container__box--search {
                    @include styleDisFlexCenter();
                    border: 1px solid $main_color-border;
                    border-radius: 20px;
                    background-color: $main_color-white-hover;
                    box-shadow: #312f2f2a 1px 1px 3px 0px;
                    .border-icon-search {
                        padding: 2px 15px;
                        > i {
                            font-size: 18px;
                            color: $main_color-text;
                        }
                    }

                    .ctr__search-flex {
                        width: 600px;
                        > input {
                            width: 100%;
                            padding: 9px;
                            font-size: 16px;
                            background-color: $main_color-white;
                            border-radius: 0px 20px 20px 0px;
                            border: none;
                            border-left: 1px solid $main_color-border;
                        }
                    }
                }
                &.active_Search {
                    opacity: 1;
                    visibility: visible;
                    transform: translateY(-50px);
                }
                &.inactive_Search {
                    opacity: 0;
                    visibility: hidden;
                    transform: translateY(0px);
                }
            }
        }
        .wrap__item--accsign {
            flex: 2;
            padding-bottom: 5px;
            position: relative;
            z-index: 12;
            .body__container--boxDropDown {
                width: 100%;
                @include styleDisFlexCenter();
                justify-content: right;
            }
            .item__btn-dropDown {
                // width: 100%;
                display: flex;
                justify-content: right;
                position: relative;
            }
            .btn__dropDown--search {
                cursor: pointer;
                margin-right: 20px;
                .border_search--header {
                    width: 40px;
                    height: 40px;
                    padding: 10px;
                    background-color: $main_color-bgr;
                    border-radius: 100%;
                    transition: all 0.4s;
                    border: 1px solid $main_color-border;
                    i {
                        font-size: 18px;
                        color: $main_color-text;
                        position: relative;
                        top: -2px;
                    }
                    &:hover {
                        transform: translateY(-3px);
                    }
                }
            }
        }
    }
}

.isHide_header-active-reel {
    // transform: translateY(-90px);
    display: none;
}
.isShow_header-active-reel {
    // transform: translateY(0px);
    display: block;
}

.wrap__drops-suggest--search {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    z-index: 9;
    .brg__drops--search {
        width: 100%;
        height: 100%;
        position: fixed;
        background-color: #0000002f;
        backdrop-filter: blur(5px);
        z-index: 8;
    }
    .wrap_box_suggest--search {
        width: 550px;
        max-height: 500px;
        margin: 0px auto;
        position: relative;
        .box__suggest--search {
            width: 100%;
            padding-bottom: 10px;
            display: flex;
            flex-direction: column;
            position: absolute;
            top: 61px;
            margin: 0px auto;
            z-index: 10;
            animation: an_box_suggest_search 0.3s;
            overflow: hidden;
            @include styleBoxBackGroundBlur();
            backdrop-filter: blur(60px);
            background-color: $main_color-white;
            color: #822366;
            .heading_sg {
                font-weight: 600;
                padding: 10px 15px 5px 15px;
            }
            .item_content_before--search {
                margin: 3px 10px;
                padding: 7px 15px;
                border-radius: 10px;
                transition: all 0.2s;
                user-select: none;
                .name_history {
                    cursor: pointer;
                    span {
                        font-weight: 600;
                    }
                }
                .icon_delete__history {
                    float: right;
                    cursor: pointer;
                    transition: all 0.2s;
                    & > i {
                        font-size: 24px;
                    }
                }
                & > i {
                    margin-right: 15px;
                }
                &:hover {
                    background-color: $main_color-white-hover-brgWhite;
                }
            }
            @keyframes an_box_suggest_search {
                from {
                    transform: scale(0.95);
                }
                to {
                    transform: scale(1);
                }
            }
        }
    }
}
.display-block-drops-search {
    display: block;
}
.display-none-drops-search {
    display: none;
}

// drop button dropdown header
.btn__dropDown--account {
    width: 42px;
    height: 42px;
    position: relative;
    .border__img-avatar--header {
        width: 100%;
        height: 100%;
        padding: 1px;
        cursor: pointer;
        transition: all 0.4s;
        box-shadow: #2b0a0a10 1px 2px 4px 0px;
        @include styleBorderBackground;
        border-radius: 100%;
        img {
            width: 100%;
            height: 100%;
            border-radius: 100%;
        }
        &:hover {
            transform: translateY(-3px);
        }
    }
    .activeBtnDrop {
        border: 2px solid $main_color-text;
        transform: translateY(-3px);
        transition: all 0s;
    }
}

.dropdown__accsign--account {
    width: max-content;
    position: absolute;
    top: 55px;
    right: 0px;
    margin-right: -1px;
    z-index: 20;
    @include styleBoxBackGroundBlur();
    .box__dropwn--account {
        padding: 5px;
        position: relative;
        z-index: 15;
        .item__dropwn--account {
            padding: 10px 15px;
            cursor: pointer;
            margin: 6px;
            color: $main_color-text;
            transition: all 0.3s;
            font-weight: 500;
            font-size: 16px;
            border-radius: 10px;
            @include styleDisFlexCenter();
            justify-content: left;
            user-select: none;
            &:hover {
                background-color: $main_color-white-hover-brgWhite;
            }
            & > i {
                margin-right: 20px;
                font-size: 22px;
            }
        }
    }
    &::after {
        content: "";
        width: 15px;
        height: 15px;
        position: absolute;
        top: -8px;
        right: 11px;
        transform: rotate(45deg);
        @include styleBoxBackGroundBlur();
        border-radius: 0px;
        box-shadow: none;
        border-bottom: none;
        border-right: none;
    }
    &.active {
        opacity: 1;
        visibility: visible;
        transform: translateY(0px);
        transition: 0.4s ease;
    }
    &.inactive {
        opacity: 0;
        visibility: hidden;
        transform: translateY(-8px);
        transition: 0.4s ease;
    }
}
.isActive-open-reel-drop-btn {
    background-color: $main_color-white;
}
