
@import "./+styleMain.scss";

* {
    font-family: -apple-system, "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    -webkit-font-smoothing: antialiased;
    box-sizing: border-box;
}
body {
    margin: 0px;
    position: relative;
    top: 0px;
        background: $main_color-bgr;
    .App {
        .App_header {
            width: 100%;
            position: fixed;
            top: 0px;
            z-index: 99;
        }
        .App_body {
            width: 100%;
            padding: 80px 20px 0px 20px;
        }
    }
}
@import "./styleHeader.scss";
@import "./StyleHome/styleHome.scss";
@import "./StyleHome/styleHomeViewTask";
@import "./StyleHome/styleHomeComplementary";
@import "./Pages/stylePages";
@import "./Interactive/styleIteractive";

.body_loading_start {
    @include styleBackgroundLoading();
    background-color: $main_color-bgr;
    .wrap_loading {
        display: flex;
        flex-direction: column;
        margin: 0px auto;
        .logo__loading {
            @include styleDisFlexCenter();
            animation: an_logo_loading_trans 1s ease;
            img {
                width: 60px;
                max-height: 100%;
                margin-bottom: 20px;
                user-select: none;
            }
            .text__loading-right-logo {
                font-size: 35px;
                margin-left: 20px;
                font-weight: 700;
                color: #be0a88;
                user-select: none;
            }
            @keyframes an_logo_loading_trans {
                0% {
                    transform: scale(0.8);
                }
                50% {
                    transform: scale(1.1);
                }
                100% {
                    transform: scale(1);
                }
            }
        }
        .animation__loading-border {
            width: 100%;
            @include styleDisFlexCenter();
            margin-top: 10px;
            .border__loading--line {
                width: 180px;
                height: 4px;
                background-color: #d8b7cd;
                border-radius: 2px;
                .underline__loading--item {
                    width: 100%;
                    height: 100%;
                    background-color: #be0a88;
                    border-radius: 2px;
                    animation: an_loading_start_page 0.7s ease infinite;
                    @keyframes an_loading_start_page {
                        from {
                            transform: scaleX(0);
                        }
                        to {
                            transform: scaleX(1);
                        }
                    }
                }
            }
        }
    }
}
.body__loading__page {
    @include styleBackgroundLoading();
    background-color: #fff3fb;
    .wrap_loading_page{
        i{
            font-size: 60px;
            color: #be0a88;
            animation: an_icon_loading_page 1s linear infinite;
            @keyframes an_icon_loading_page {
                from{
                    transform: rotate(0deg);
                }
                to{
                    transform: rotate(360deg);
                }
            }
        }
        
    }
}
