.complementary {
    height: 100%;
    padding: 10px 0px;
    .item_tr--comple {
        margin-bottom: 15px;
    }
    .body__request {
        width: 100%;
        .box_request--fr {
            width: 100%;
            @include styleBorderBackground();
            padding: 10px;
            .heading_text--rq {
                font-weight: 500;
                font-size: 20px;
                color: #b91e8b;
                border-bottom: 1px solid #faf2f8;
                padding-bottom: 10px;
                padding-left: 10px;
            }
            .body_out-request {
                width: 100%;
                color: $main_color-text;
                .item_demand--block {
                    margin: 10px 0px 10px 0px;
                    display: flex;
                    .item__demand--inline {
                        // width: 100%;
                        .border_img-avatar {
                            width: 40px;
                            height: 40px;
                            border: 1px solid $main_color-border;
                            padding: 2px;
                            border-radius: 100%;
                            margin-right: 10px;
                            img {
                                width: 100%;
                                height: 100%;
                                border-radius: 100%;
                            }
                        }
                    }
                    .block--name {
                        width: 100%;
                        display: flex;
                        flex-direction: column;
                        .item_demand--name {
                            height: 100%;
                        }
                        .name_user-style {
                            word-break: break-all;
                            > a {
                                font-size: 16px;
                                font-weight: 600;
                                color: #b15e98;
                                text-decoration: none;
                                @media only screen and (max-width: 1310px) {
                                    & {
                                        font-size: 13px;
                                    }
                                }
                                &:hover {
                                    text-decoration: underline;
                                }
                            }
                        }
                        .time_req-style {
                            font-size: 12px;
                            color: #af6c9b;
                        }
                    }
                    .btn_press-demand {
                        // width: 100%;
                        .float-item-btn {
                            height: 100%;
                            display: flex;
                            align-items: center;
                            .border_press-demand {
                                width: 27px;
                                height: 27px;
                                margin: 0px 5px;
                                padding: 2px;
                                border: 1px solid $main_color-border;
                                border-radius: 100%;
                                @include styleDisFlexCenter();
                                cursor: pointer;
                                transition: all 0.4s;
                                > i {
                                    color: #b15f97;
                                }
                                &:hover {
                                    opacity: 0.7;
                                }
                                &:first-child {
                                    background-color: $main_color-text-opacity;
                                    border: none;
                                    > i {
                                        color: $main_color-white;
                                    }
                                }
                            }
                        }
                    }
                }
                .btn_show-allReq {
                    width: 100%;
                    text-align: center;
                    > a {
                        font-weight: 500;
                        font-size: 14px;
                        text-decoration: none;
                        color: #b66fa0;
                    }
                }
            }
        }
    }
    .body__sticky {
        width: 100%;
        position: sticky;
        top: 80px;
        .box__ads--slide {
            width: 100%;
            height: 120px;
            // border: 1px dashed #b37da2;
            border-radius: 12px;
            @include styleDisFlexCenter();
            color: #b15f97;
            cursor: pointer;
            position: relative;
            img {
                width: 100%;
                max-height: 100%;
                border-radius: 12px;
                border: 2px solid #bbb3b9;
            }
            .btn_ads_noti-sion {
                position: absolute;
                right: 0px;
                top: 0px;
                margin: 8px;
                padding: 3px 5px;
                display: flex;
                background-color: #00000052;
                color: $main_color-white;
                border-radius: 10px;
                font-size: 11px;
                transition: all 0.5s;
                .text_ads_animate {
                    // margin-right: 3px;
                    width: 0px;
                    animation: an_text_btn_ads 5s ease-in;
                    animation-delay: 4s;
                    overflow: hidden;
                    @keyframes an_text_btn_ads {
                        0% {
                            width: 0px;
                        }
                        1% {
                            width: 0px;
                        }
                        3% {
                            width: 0px;
                        }
                        5% {
                            width: 0px;
                        }
                        15% {
                            width: 75px;
                        }
                        30% {
                            width: 75px;
                        }
                        33% {
                            width: 75px;
                        }
                        35% {
                            width: 75px;
                        }
                        38% {
                            width: 75px;
                        }
                        48% {
                            width: 75px;
                        }
                        62% {
                            width: 75px;
                        }
                        66% {
                            width: 75px;
                        }
                        71% {
                            width: 75px;
                        }
                        86% {
                            width: 75px;
                        }
                        95% {
                            width: 75px;
                        }
                        98% {
                            width: 75px;
                        }
                        100% {
                            width: 0px;
                        }
                    }
                }
                i {
                    font-size: 13px;
                }
            }
        }
        .box_select_completary {
            width: 100%;
            text-align: center;
            & > .item_select--Tolink {
                display: inline-block;
                margin: 5px 10px;
                & > a {
                    color: #ad7f9f;
                    cursor: pointer;
                    font-size: 13px;
                    text-decoration: none;
                }
            }
            & > .item_select--Tolink a:hover {
                text-decoration: underline;
            }
        }
    }
}
